.newsFeedContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
}

/* A wrapper around each post to show the date outside the card */
.postWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Style the date if needed */
.postDate {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.postContainer {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 1rem 1.2rem 0.8rem 1.2rem;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
	max-width: 860px;
}

.postTitle {
  font-size: 1.5rem;
	margin: 12px auto 8px 0;
  font-weight: bold;
}
.categoryContainer {
}
.categoryLabel {
	font-size: 14px;
}
.postTagName {
	display: inline-block;
  background-color: #4bb2ae;
  color: #fff;
  margin: 1.2rem auto 18px 0 ;
  border-radius: 20px;
	padding: 3px 8px;
  font-size: 13px;
	text-align: center;
  transition: transform 0.1s, filter 0.1s;

}

.postTagName:hover {
  filter: saturate(1.3);
  transform: scale(1.075);
}

.postTagName a {
	color: white;
	text-decoration: none;
	display: block;
}

.postBody {
  font-size: 1rem;
  margin: 10px auto 8px 0;
  line-height: 1.5;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.postImage {
  border-radius: 5px;
  object-fit: cover;
}

.videoWrapper {
  position: relative;
  width: 100%;
  /* The padding-bottom and height trick helps preserve aspect ratio */
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9/16 * 100) */
  height: 0;
  overflow: hidden;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

