/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 20px 20px;
  background-color: transparent; /* Set background to transparent */
  position: relative;
  width: 100%;
}

.logo {
  position: absolute;
  left: 40px; /* Align the logo to the top left */
  font-size: 24px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 40px;
}

.navLinks a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navLinks a:hover {
  text-decoration: underline;
}

.socialLinks {
  position: absolute;
  right: 40px; /* Align the social links to the top right */
  display: flex;
  gap: 15px;
}

.socialLinks img {
  width: 24px;
  height: 24px;
  filter: invert(0); /* Inverts the icons to white */
  cursor: pointer;
}

.socialLinks img:hover {
  opacity: 0.8;
}

