.iconColumn {
  display: flex;
	flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.iconRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
	width: 100px;
}

.iconRow svg,
.iconColumn svg {
	width: 20px;
}
.iconContainer {
  position: relative;
}
a:hover .icon.nonproject {
	opacity: 0.5;
}
.iconContainer:hover::after {
  content: attr(data-tooltip);
  position: absolute;
	top: calc(100% + 4px);
  transform: translateX(-100%);
  width: 200px; /* Width for mobile screens */
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 16px;
  white-space: normal; /* Allow text wrapping */
  word-wrap: break-word; /* Enable word wrapping */
	text-align: center;
}

@media (min-width: 768px) {
  /* Adjustments for screens wider than mobile */
  .iconContainer:hover::after {
    max-width: 100px; /* Maximum width for tooltip */
    width: auto; /* Auto width for wider screens */
  }
}

.transparentRect {
  fill: none;
}
.icon {
	padding: 1px 8px;
}
.project.icon {
	padding: 1px 8px;
	background-color: #20ccc8;
  border-radius: 20px;
}
.project.icon path,
.project.icon rect {
	fill: white;
}
a:hover .project.icon {
	filter: saturate(1.5);
}
