/* ContactForm.module.css */

.contact-form {
  margin: 0 auto;
	max-width: 1200px;
	display: flex;
	justify-content: center;
	margin: 94px auto;
	background-color: white;
	box-shadow: 0 2px 15px #bebebe80;
	border-radius: 8px;
}
.formBox {
	width: 100%;
	padding: 28px 36px;
}
.contact-form h1 {
  margin-bottom: 20px;
}
.contactContent {
	display: grid;
	grid-template-columns: 3fr 1fr;
}
@media (max-width: 767px) {
  .contactContent {
    display: flex; /* Switch to flex layout */
    flex-direction: column; /* Align items in a column */
  }
	.contactInfo {
		order: -1;
		padding: 12px 22px 0 0 !important;
		background-color: white;
	}
	.contactInfo img {
		display: none;
	}
}
.contactContent form {
}
.contact-form label {
  display: block;
	margin: 22px auto 4px 0;
	font-size: 19px;
}

.contact-form input,
.contact-form textarea {
  background-color: #fffcc8;
  border: 1px solid #d9dddd;
  border-radius: 20px;
  color: #404242;
  font-size: 16px;
  height: 2.5ch;
  padding: 4px 8px;
	width: 95%;
}

.contact-form textarea {
	min-height: 100px;
	padding: 8px 8px;
}

.contact-form button {
	display: block;
	padding: 6px 8px;
  background: linear-gradient(165deg,#26d6c4,#10b1d3);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 15px #1cc5cb80;
  color: #fff;
  cursor: pointer;
  text-align: center;
	font-size: 19px;
	margin: 22px 0 0 0 ;
}
.contact-form button:hover {
	filter: saturate(1.4);
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-form span {
  color: red;
}
@media screen and (min-width: 768px) {
	.contactInfo {
		padding: 22px;
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		align-content: center;
		margin-left: 18px;
		background-color: #f1f1f1;
	}
}
.contactInfoRow {
  margin: 8px 0 18px 0;
  padding: 4px 8px;
  display: flex;
  max-height: 34px;
  align-items: center;
  border-radius: 8px;
	cursor: pointer;
  text-decoration: none;
}
.contactInfoRow:hover {
  color: #fafafa;
  background-color: #1CC5CB;
}

.contactInfoRow svg {
  height: 24px;
  width: 24px;
}
.contactInfoRow {
  margin-left: 11px;
  font-size: 14px;
  font-weight: 500;
  color: #284646;
}
.contactInfoRow:hover path,
.contactInfoRow:hover #icon polygon,
.contactInfoRow:hover .menuLabel,
.contactInfoRow:hover rect {
  fill: #fafafa !important;
  color: #fafafa;
}
.contactInfoRow label {
  cursor: pointer;
	margin: auto auto auto 12px;
	font-size: 16.5px;
}
.imageLink {
	margin: auto;
	display: flex;
	justify-content: center;
}
.contactInfo img {
  border-radius: 8px;
  box-shadow: 0 2px 15px #bebebe80;	
}
