.mainContent {
	max-width: 1200px;
	background-color: white;
	box-shadow: 0 2px 15px #bebebe80;
	border-radius: 8px;
}
.mainContent h1 {
	margin: 8px 0 0 0;
	font-size: 42px;
	line-height: 48px;
}
.mainContent h2 {
	font-weight: 800;
	font-size: 42px;
	line-height: 45px;
	margin: 0 0 32px 0;
}

@media (min-width: 1080px) {
	.mainContent {
		padding: 34px 62px;
		margin: 94px auto;
	}

	.podOne {
		display: grid;
		grid-template-columns: 1fr 2.8fr;
	}
	.podOneColumnTwo {
	  margin: 0 0 0 22px;
  }

}
@media (max-width: 1080px) {
	.mainContent {
		padding: 34px 22px;
		margin: 28px 8px 72px 8px;
	}

	.podOne {
		display: flex;
		flex-direction: column;
	}
	.podOneColumnTwo {
		margin: 0 0 0 0 ;
	}
}
@media (min-width: 768px) {
	.podOneColumnTwoContactRow {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.contactInfoRow {
		padding: 4px 8px;
	}
	.podTwo {
		display: grid;
		grid-template-columns: 1fr 2fr;
		margin: 48px 0 0 0;
		column-gap: 72px;
	}

}
@media (max-width: 767px) {
	.podOneColumnTwoContactRow {
		display: flex;
		flex-wrap: wrap;
	}
	.contactInfoRow {
		max-width: 250px;
	}
	.podTwo {
		display: flex;
		flex-direction: column;
		margin: 42px 0;
	}
	.podTwoColumnTwo {
		order: 1;
	}
	.podTwoColumnOne {
		order: 2;
	}
}
.podOne p {
	font-size: 18px;
}
.contactInfoRow {
	display: flex;
}
.contactInfoRow label {
	margin: auto 0;
}
.contactInfoRow {
  margin: 8px 8px;
  padding: 4px 26px;
  display: flex;
  max-height: 34px;
  align-items: center;
	justify-content: center;
  border-radius: 30px;
	cursor: pointer;
  text-decoration: none;
}
.contactInfoRow:hover {
  color: #fafafa;
  background-color: #1CC5CB;
}

.contactInfoRow svg {
  height: 20px;
	margin: 0 0 0 auto;
  width: 20px;
}
.contactInfoRow {
  font-size: 13px;
  font-weight: 400;
  color: #284646;
	background-color: white;
  border: 1px solid #d9d9d9;
  box-shadow: 1px -2px 8px rgba(0, 0, 0, 0.34) inset;
}
.contactInfoRow:hover path,
.contactInfoRow:hover #icon polygon,
.contactInfoRow:hover .menuLabel,
.contactInfoRow:hover rect {
  fill: #fafafa !important;
  color: #fafafa;
}
.contactInfoRow label {
  cursor: pointer;
	margin: auto auto auto 12px;
	font-size: 15px;
}


.podTwoColumnOne ul {
	margin: 0 0 42px 0;
	padding-left: 18px;
}
.podTwoColumnOne li {
	font-size: 18px;
}
.podTwoColumnTwo {
	margin: 0px 0 22px 0;
}
.podTwoColumnTwoExperienceRow {
	display: grid;
}
.experiencePod {
	display: flex;
	justify-content: space-between;
	margin: 0 0 24px 0;
}
.experienceInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 4px 32px 4px 0;
}
.title {
	font-size: 20px;
}
.organization {
	font-size: 20px;
	font-weight: 700;
}
.timespan {
	font-size: 20px;
}
