body {
	margin: 0;
	background-color: #f6f9f9;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scroll */
	transition: background-color 0.3s ease-in-out;
}

/* When the menu is open, make the background red */
body.menuOpen {
  background-color: rgba(0, 0, 0, 0.5);
}
.mainBody {
	width: 100%;
  font-family: 'Cutive Mono', monospace;
	background-color: #f6f9f9;
	display: flex;
}
.otherBody {
	width: 100%;
	min-height: 100vh;
	margin: 0 12px;
}
.loaderComponent {
	width: 100px;
}



/******************
***** Menu Button ***
******************/

svg.menuIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 18px;
	display: block;
  margin-left: auto;
}
@media (min-width 1025px) {
	svg.menuIcon {
		margin-right: 28px;
	}
}

@media (max-width 1024px) {
	svg.menuIcon {
		margin-right: 0px
	}
}

svg.menuIcon:hover path, svg.notIcon:hover path {
  fill: #5dbfbc;
}

.menu {
  display: none;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: absolute; /* or fixed depending on requirement */
  top: 50px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  width: 250px; /* Adjust as needed */
  padding: 0 8px;
	z-index: 50;
}

.menu.show {
  display: block;
  opacity: 1;
  border-radius: 10px;
}
.menu.notifications.show {
	display: block;
	opacity: 1;
	border-radius: 10px;
	max-height: 300px;
	overflow-y: auto;
}
.menuItem {
  margin: 8px 0;
  padding: 4px 8px;
  display: flex;
  max-height: 34px;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
}
.menuItem:hover {
  color: #fafafa;
  background-color: #1CC5CB;
}
.menuItem svg {
  height: 18px;
  width: 18px;
}
.menuLabel {
  margin-left: 11px;
  font-size: 18px;
  font-weight: 500;
  color: #284646;
}
.menuItem:hover #icon path,
.menuItem:hover #icon polygon,
.menuItem:hover .menuLabel,
.menuItem:hover rect {
  fill: #fafafa !important;
  color: #fafafa;
}

/* styles/fonts.css */

/* Cutive Mono Font Face */
@font-face {
  font-family: 'Cutive Mono';
  src: url('./fonts/CutiveMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



