body {
	margin: 0;
	font-family: 'Baloo2-Regular';
	background-color: #f6f9f9;
}
.bodyA {
	display: flex;
}
.loaderComponent {
	width: 100px;
}
@media (min-width: 880px) {
	.titleRow {
		padding: 86px 62px 54px 62px;
	}
}
@media (max-width: 879px) {
	.titleRow {
		padding: 44px 28px;
	}
}
.titleMain {
	font-size: 54px;
	max-width: 768px;
	line-height: 60px;
	margin: auto 0 16px 0;
}
.titleSecondary {
	font-size: 22px;
	max-width: 768px;
}
.imageRow {
	display: flex;
	overflow: hidden;
}
.specialTitle {
	font-size: 36px;
	font-weight: 700;
}
.gridObject {
	margin: 54px 0 94px 0;
}
.imagePreview {
	display: flex;
	justify-content: center;
	max-width: 500px;
	margin: auto;
}

@media (min-width: 1080px) {
	.gridObject {
		display: grid;
		grid-template-columns: 1fr 1.5fr;
		column-gap: 32px;
  	margin: 54px 0 94px 0;
	}
	.imagePreview {
		justify-content: center;
	}
	
}
@media (max-width: 1079px) {
	.gridObject {
		display: flex;
		flex-direction: column;
		margin: 44px 0 64px 0;
	}
	.imagePreview {
		margin: 30px 0 0 0;
		justify-content: flex-start;
	}

}
@media (min-width: 768px) {
	.projectsRow {
		padding: 54px 62px;
		max-width: 1500px;
		margin: auto;
	}
}
@media (max-width: 767px) {
	.projectsRow {
		padding: 48px 32px;
	}
}
.gridObject img {
  max-width: 617px; /* New maximum width */
	max-height: 310px;
	border-radius: 10px;
	transition: transform 0.3s ease;
}
.imagePreview.center a {
	display: flex;	
	justify-content: center;
}
.imagePreview a {
	overflow: hidden;
	border-radius: 10px;
	max-height: 310px;
  box-shadow: 0 2px 15px #92929280;

}
.imagePreview a:hover img {
	box-shadow: 0 2px 15px #1cc5cb80;
	opacity: 0.9;
	transform: scale(1.05);
}
.imagePreview a:hover {
	box-shadow: 0 2px 15px #1cc5cb80;
	opacity: 0.9;
	
}
.gridTitle {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 22px;
}
.gridDescription {
	font-size: 20px;
	margin: 16px auto 16px 0;
	max-width: 550px;
}
.button {
	display: inline-flex;
	padding: 6px 8px;
  background: linear-gradient(165deg,#26d6c4,#10b1d3);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 15px #1cc5cb80;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.button:hover {
	filter: saturate(1.4);

}
.button a {
	color: white;
	text-decoration: none;
	font-size: 18px;
}
.separator {
	border-bottom: 1px solid #e6e6e6;
	margin: 0 0 28px 0;
}

/******************
***** Menu Button ***
******************/

svg.menuIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 18px;
	display: block;
  margin-left: auto;
}
@media (min-width 1025px) {
	svg.menuIcon {
		margin-right: 28px;
	}
}

@media (max-width 1024px) {
	svg.menuIcon {
		margin-right: 0px
	}
}

svg.menuIcon:hover path, svg.notIcon:hover path {
  fill: #5dbfbc;
}

.menu {
  display: none;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: absolute; /* or fixed depending on requirement */
  top: 50px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  width: 250px; /* Adjust as needed */
  padding: 0 8px;
	z-index: 50;
}

.menu.show {
  display: block;
  opacity: 1;
  border-radius: 10px;
}
.menu.notifications.show {
	display: block;
	opacity: 1;
	border-radius: 10px;
	max-height: 300px;
	overflow-y: auto;
}
.menuItem {
  margin: 8px 0;
  padding: 4px 8px;
  display: flex;
  max-height: 34px;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
}
.menuItem:hover {
  color: #fafafa;
  background-color: #1CC5CB;
}
.menuItem svg {
  height: 18px;
  width: 18px;
}
.menuLabel {
  margin-left: 11px;
  font-size: 18px;
  font-weight: 500;
  color: #284646;
}
.menuItem:hover #icon path,
.menuItem:hover #icon polygon,
.menuItem:hover .menuLabel,
.menuItem:hover rect {
  fill: #fafafa !important;
  color: #fafafa;
}

/* styles/fonts.css */

@font-face {
  font-family: 'Baloo2-Bold';
  src: url('./fonts/Baloo2-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo2-Medium';
  src: url('./fonts/Baloo2-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo2-SemiBold';
  src: url('./fonts/Baloo2-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo2-ExtraBold';
  src: url('./fonts/Baloo2-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo2-Regular';
  src: url('./fonts/Baloo2-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


